{% extends "base.html" %}
{% load static %}

{% block title %}
POSTS
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}" />
<link rel="stylesheet" href="{% static "blog/post.css" %}" />
{% endblock %}



{% block content %}

<section id="welcome">
<header>
    <img src="{% static "blog/images/shivam.jpeg" %}" alt="Shivam-The Author of this blog"/>
    <h2>Shivam's Blog</h2>
</header>
<p>This is the posts page</p>
</section>

<section id="latest-posts">
    <h2>My Latest thoughts</h2>
<ul>{% for post in posts %}
    {% include "blog/includes/post.html" %}
    {% endfor %}
</ul>
</section>
<section id="about">
    <h2>What i do</h2>
    <p>I love programming but programming doesnt love me</p>
    <p>My goal is to keep growing or die trying</p>
</section>

{% endblock %}